.job-section {
    background-color: none;
}
.cented-elmnt{
    text-align: center;
}
.job-title {
    font-size: 35px;
    color: #335;
    padding-top: 3rem;
}
.job-p1 {
    font-size: 1.5rem;
}
.h6 {
    font-size: 18px;
    margin-top: Opx;
}
.job-float-div {
    float: left;
    padding-right: auto;
    width: 28rem;
    padding: auto 0px 0px 0rem;
}
.job-flt-title {
    letter-spacing: 0px;
    text-align: left;
    font-size: 25px;
    color: darkorange;
}
.div6-p2 {
    letter-spacing: 0px;
    font-size: 20px;
    color: gray;
}
.float-section{
    margin-left: 12.5rem;
    display: flex;
}
.job-img {
    width: 28rem;
    height: 7Orem;
    margin: 6rem 12rem 0rem 0rem;
    clear: right;
}
.job-start-link {
    color: white;
    font-size: 20px;
    background-color: #335;
    text-align: center;
    border: 3px solid gray;
    border-radius: 5rem;
    background-color: #335;
    margin: 0px auto;
}
.div6-link:hover {
    background-color: darkorange;
}

@media screen and (max-width: 1200px) {
    .float-section{
        margin-left: 6rem;
        display: flex;
    }
    .job-img{
        float: right;
        margin-right: auto;
    }
}

@media screen and (max-width: 800px) {
    .float-section{
        margin-left: 0rem;
        display: inline;
        text-align: center;
        align-items: center;
        float: none ;
    }
    .job-img {
        float: none;
        width: 28rem;
        height: 7Orem;
        margin: 6rem 12rem 0rem 0rem;
        clear: left;
    }
}