.div6 {
    background-color: none;
}

.h6 {
    font-size: 18px;
    margin-top: Opx;
}

.div6-hA {
    text-align: center;
    font-size: 35px;
    color: #335;
    padding-top: 35rem;
}

.div6-hB {
    text-align: left;
    font-size: 25px;
    color: darkorange;
}

.div6-p1 {
    text-align: center;
    font-size: 1.5rem;
}
.div6-div {
    background-color: none;
    width: 28rem;
    padding: 4rem 0px 0px 13rem;
}

.div6-p2 {
    text-align: left;
    font-size: 20px;
    color: gray;
}

.div6-img {
    width: 30rem;
    height: 8Orem;
    float: right;
    margin: 6rem 12rem 0rem 0rem;
}

.div6-link {
    color: white;
    font-size: 20px;
    background-color: #335;
    font-size: 20px;
    text-align: center;
    border: 3px solid gray;
    border-radius: 5rem;
    background-color: #335;
    margin: 0px 8rem;
}

.div6-link:hover {
    background-color: darkorange;
}