.div4 {
    background-color: #335;
    text-align: center;
    padding: 5rem 0rem;
}

.div4-h3 {
    text-align: center;
    color: darkorange;
    font-size: 30px;
}

.div4-p {
    margin: 1rem 24.8rem;
    font-size: 20px;
    color: white;

}