.div5-h3 {
    color: #335;
}

.boxes-div1 {
    margin: 0rem 15rem;
    padding-bottom: 1rem;
}

.boxes-div2 {
    margin: 0rem 15rem;
    background-color: gray;
}

.img-box {
    width: 4rem;
    height: 4rem;
    margin-bottom: 0px;
}

.footerBackground {
    color: white; 
    background-color: #334;
    padding: 1.5rem 0rem 1.5rem 2rem;
}
.footer-float {
    float: right;
}

.footer-button {
    color: white;
    font-size: 16px;
    padding: 0.5rem 3rem;
    margin-right: 2rem;
    background-color: #559;
}

.footer-button:hover {
    color: white;
    text-decoration: underline;
    background-color: #889;
}

a {
    color: white;
    margin-left: 0.8rem;
}