.logo {
    float: left;
    padding: 1rem 23rem 0rem 15rem;
}

.nav-list {
    padding: 1rem 0rem;
    color: #002;
}



.contact {
    border-radius: 50px;
    padding: 9px 2.7rem;
    font-size: 14px;
    text-align: center;
    color: white;
    background-color: #335;
}

.contact:hover {
    background-color: darkorange;
    color: #002;
}

li {
    display: inline;
    font-size: 15px;
    margin-right: 1.5rem;
}

.idea-svg {
    width: 25rem;
    height: 25rem;
    float: right;
    margin-right: 22.5rem;
    padding-top: 5rem;
}

.idea-h2 {
    color: darkorange;
    padding: 8rem 0rem 1rem 15rem;
    font-size: 3.5rem;
}

.idea-p {
    margin: 0rem 0rem 0rem 15rem;
    font-size: 23px;
}

h3 {
    font-size: 35px;
    color: #335;
    text-align: center;
    padding-top: 4rem;
}

.div3-p {
    text-align: center;
    font-size: 21px;
    color: gray;
    margin: 0px 15rem;
    padding-bottom: 2rem;
}


.div4-h3 {
    text-align: center;
    color: darkorange;
    font-size: 30px;
}

.div4-p {
    margin: 1rem 24.8rem;
    font-size: 20px;
    color: white;

}

div5-h3 {
    color: #335;
}

.div5-p {
    color: gray;
    font-size: 21px;
    padding: 1rem 20rem;
}

.boxes-div1 {
    margin: 0rem 15rem;
    padding-bottom: 1rem;
}

.boxes-div2 {
    margin: 0rem 15rem;
    background-color: gray;
}

.float-box {
    float: left;
    color: #335;
    border: 2px white solid;
    text-align: center;
    font-size: 16px;
    width: 15rem;
    height: 11rem;
    margin: 3rem 3.5rem;
    line-height: 17px;
}

.float-box:hover {
    text-decoration: underline;
    color: darkorange;
    background-color: white;
}

.img-box {
    width: 4rem;
    height: 4rem;
    margin-bottom: 0px;
}
.h6 {
    font-size: 18px;
    margin-top: Opx;
}

.div6-hA {
    text-align: center;
    font-size: 35px;
    color: #335;
    padding-top: 35rem;
}

.div6-hB {
    text-align: left;
    font-size: 25px;
    color: darkorange;
}

.div6-p1 {
    text-align: center;
    font-size: 1.5rem;
}
.div6-div {
    background-color: none;
    width: 28rem;
    padding: 4rem 0px 0px 15rem;
}

.div6-p2 {
    text-align: left;
    font-size: 20px;
    color: gray;
}

.div6-img {
    width: 30rem;
    height: 8Orem;
    float: right;
    margin: 6rem 16.5rem 0rem 0rem;
}

.div6-link {
    color: white;
    font-size: 20px;
    background-color: #335;
    font-size: 20px;
    text-align: center;
    border: 3px solid gray;
    border-radius: 5rem;
    background-color: #335;
    margin: 0px 8rem;
}

.div6-link:hover {
    background-color: darkorange;
}

.container1 {
    background-color: none;
    margin: 2rem 15rem;
    float: left;
    text-align: center;
}

.container2 {
    background-color: none;
    margin: 0rem 15rem;
    float: left;
    text-align: center;
}

.div7-h3A {
    text-align: center;
    color: #335;
    font-size: 35px;
    margin-top: 10rem;
}

.div7-h3B {
    text-align: center;
    color: #335;
    font-size: 35px;
    margin-top: 35rem;
}

.div7-img {
    width: 3rem;
    height: 4rem;
}

.div7-box {
    float: left;
    width: 14rem;
    height: 10rem;
    margin: 1rem;
    font-size: 25px;
}

.div7-box:hover {
    float: left;
    width: 14rem;
    height: 10rem;
    margin: 1rem;
    box-shadow: -1px 1px 15px;
    font-size: 25px;
}

.div7-p {
    font-size: 22px;
    text-align: center;
    color: #335;
}

.last-div-marg {
    margin: 2rem 1rem 2rem 8.7rem;
}
.last-div-head {
    color: darkorange;
    font-size: 17px;
}

.logo-white {
    width: 7rem;
    margin-right: 4rem;
    
}

.uzza-svg {
    width: 4rem;
}

.float-block {      
   
    margin-left: 6rem;
    float: left;
}

.footer-float {
    float: right;
}

.footer-button {
    color: white;
    font-size: 16px;
    padding: 0.5rem 3rem;
    margin-right: 2rem;
    background-color: #559;
}

.footer-button:hover {
    color: white;
    text-decoration: underline;
    background-color: #889;
}

a {
    color: white;
    margin-left: 0.8rem;
}