* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.more {
    border: 1px solid darkorange;
    border-radius: 100px;
    margin: 0rem 41rem;
    padding: 8px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    background-color: #335;
}

.more:hover {
    background-color: darkorange;
}



.footer {
    margin-top: 45rem; 
}