* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.more-btn {
    border: 1px solid darkorange;
    border-radius: 100px;
    padding: 0.7rem 4rem;
    font-size: 16px;
    text-align: center;
    color: white;
    background-color: #335;
}

.more-btn:hover {
    background-color: darkorange;
}

.footer {
    margin-top: 45rem; 
}

@media screen and (max-width: 700px) {
    .more-btn {
        padding: 0.5rem 3rem;
        font-size: 13px;
    }
}